* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

#root {
  background-color: #fafafa;
}

.content {
  padding: 20px;
  min-height: 100vh
}

.title {
  margin: 20px;
  text-align: center;
}

.dark-background {
  background: #00000061;
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: none;
  z-index: 1;
}

.show-dark-background {
  display: block;
}

.btn-show-cv,
.btn-export-pdf {
  width: 150px;
  height: 40px;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #2655a1;
  background-color: #2655a1;
  color: white;
  font-weight: 800;
}

.btn-export-pdf {
  background: white;
  color: #2655a1;
}

.buttons {
  text-align: center;
}
